<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbSwitch" connectionString="metadata=res://*/Entidades.csdl|res://*/Entidades.ssdl|res://*/Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANGELITO-PC;Initial Catalog=dbSwitch;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>