<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DirectorioComponentes" value="C:\Componentes\"/>
  </appSettings>

  <connectionStrings>
      <add name="Switch" connectionString="metadata=res://*/Entidades.csdl|res://*/Entidades.ssdl|res://*/Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANGELITO-PC;Initial Catalog=Switch;Persist Security Info=True;User ID=sa;Password=sa&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="Switch" connectionString="metadata=res://*/Entidades.csdl|res://*/Entidades.ssdl|res://*/Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=198.64.249.24,1092;Initial Catalog=Switch;Persist Security Info=True;User ID=dbUser;Password=manuelheredia&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
